form{
    text-align: center;
}

form label{
    display: block;
}
label{
    color: rgb(197, 7, 81);
    font-size: 30px;
}
input{
    margin-bottom: 25px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}