.container_text {
    width: 51vw;
    margin: 2em auto;
}

.container_text p {
    display: inline-block;
    width: fit-content;
    font-size: 15pt;
    margin: 0.5em 0px;
    line-height: 1.5em;
}

.container_content {
    width: fit-content;
    margin: 2em auto;
    padding: 5em 5em 8vh 5em;
    background-color: rgb(242, 242, 242);
    border: 4em ridge rgb(128, 64, 0);
}

#headtag h1 {
    margin-bottom: 5px;
}

#headtag h2 {
    color: black;
    text-align: center;
    margin-top: 0px;
}

#headtag {
    border: 3px lightgray dotted;
    background-color: aquamarine;
    width: fit-content;
    padding: 0px 2em;
    margin: auto;
}