nav{
    background-color: rgb(60, 226, 211);
    margin: 0px;
    padding: 3px;
    border-bottom: 2px solid lightseagreen;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
nav p {
    color: rgb(197, 7, 81);
    text-decoration: none;
    font-size: 50px;
    margin-left: 30px;
    margin-right: 30px;
}
nav a {
    text-decoration: none;
    display: inline-block;
}
nav img{
    position: absolute;
    right: 30;
    top: 40;
    width: 100px;
    height: 100px;
}
#counter{
    margin: 0px;
    font-size: 20px;
    background-color: red;
    border-radius: 25px;
    padding: 5px;
    position: absolute;
    right: 30;
    top: 40;
    color: white;
}
body{
    margin: 0px;
    background-color: aquamarine;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
footer{
    position: absolute;
    bottom: 0%;
}
footer img{
    width: 125px;
}
h1{
    text-align: center;
    color: rgb(197, 7, 81);
}